/*
bluer
 */
body.blur-mode-cursor *,
body.blur-mode-cursor *:hover {
  cursor: crosshair !important;
}

.bluer-background {
  background: rgba(238, 238, 238, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
}

.start-drawing-blur-box{
  position: absolute;
  width: 1px;
  height: 1px;
  border: 1px dashed #000;
  background: rgba(224, 222, 222, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10001;
}

.bluer-box{
  border: none;
  cursor: grab;
}

.bluer-box:hover{
  border: 1px dashed #737373;
}

.bluer-box:hover .resize-handler{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #545454;
  border-radius: 100%;
  z-index: 10001;
  cursor: grab;
}
